%h5 Potential Powers

#powers_list
  - Power.all.each do |power|
    - if current_admin?
      = link_to power.name, admin_power_path(power)
    - else
      = link_to power.name, power_path(power)
    %p
      = power.cost
      stopped crimes
