.jumbotron
  %table.table.table-hover#crime_details
    %thead
      %tr
        %th{:colspan => "2"} Crime Details
    %tbody
      %tr
        %td Crime:
        %td= @stopped_crime.crime
      %tr
        %td Criminal:
        %td= @stopped_crime.criminal
      %tr
        %td Potential Victim:
        %td= @stopped_crime.potential_victim
      %tr
        %td Location:
        %td= @stopped_crime.location
